body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.Map {
  display: flex;
  justify-content: center;
  align-items: center;
}